@import "../main.css";

button {
	border: none;
	padding: 0 5px;
	border-top-right-radius: 1px;
	border-top-left-radius: 1px;
}

/* nav bar animations */
.navBarAnime {
	--color-fadeOut-time: 500ms;
	transition: color var(--color-fadeOut-time),
		border-color var(--color-fadeOut-time),
		background-color var(--color-fadeOut-time);
	border-bottom: 4.5px solid transparent;
}
.navBarAnime:hover {
	border-bottom: 4.5px solid var(--white);
	transition: border-bottom 300ms, margin-bottom 300ms,
		border-color var(--color-fadeOut-time);
}
.navBarAnime:active {
	transition: color 0ms;
	border-bottom: 4.5px solid var(--main-color);
	background-color: var(--gray);
}
.toggle:active {
	background-color: transparent;
}

.dropdownParent {
	position: relative;
}
.dropdown {
	position: absolute;
	left: 0;
	display: none;
	flex-direction: column;
	width: fit-content;
	padding: 6px 10px;
	border-radius: 2px;
	border: 1px solid var(--accent-color);
}
.dropdown > * {
	user-select: none;
}
.dropdownActive {
	display: flex;
}
.dropdownButton {
	margin-bottom: 2px;
	padding: 2px 9px;
	border-radius: 2px;
}
.dropdownButton:hover {
	outline: 1px solid var(--accent-color);
}
.dropdownButton:active {
	background-color: var(--gray);
}
.dropdownSettings {
	left: auto;
	right: 10px;
	border-top-right-radius: 0px;
}

.active {
	background-color: var(--accent-color);
	color: var(--bg-color);
}

.header {
	position: sticky;
	display: flex;
	flex-direction: row;
	background-color: var(--bg-color);
	margin-top: 5px;
}

.hamburger {
	position: relative;
	display: block;
}

.logo {
	margin-left: 10px;
}

.centerNav {
	margin: auto;
	display: flex;
}
.centerNav > * {
	margin: 0 5px;
}

.scrollButtons {
	font-weight: 1000;
	font-size: 0.9em;
}

.monthButton {
	min-width: 146px;
	border-bottom-right-radius: 1px;
}

.settings {
	margin-right: 10px;
}
