@import "../main.css";

.viewContainer {
	margin-top: 10px;
	position: relative;
	z-index: -1;
}

.weekHeader {
	display: flex;
	flex-direction: row;
	position: relative;
	width: calc(100% - 10px);
	border: 1px solid var(--main-color);
	font-size: 0.7em;
}
.weekHeader > * {
	text-align: center;
	width: 100%;
}

.monthContainer {
	width: 100%;
	overflow-y: scroll;
}
.monthContainer::-webkit-scrollbar {
	background-color: var(--black);
	width: 8px;
}
.monthContainer::-webkit-scrollbar-thumb {
	background-color: var(--white);
	border-radius: 2px;
}

.monthContainer::-webkit-scrollbar-thumb:hover {
	background-color: var(--light-gray);
}
.month {
	/* background-color: #444; */
	/* outline: 1px solid var(--main-color); */
	width: 100%;
	min-height: 200px;
	height: fit-content;
	margin: 90px auto;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;

	/* overflow: hidden; */
}

.spacer {
	height: 100%;
}
.spacer > div {
	/* border-bottom: 1px solid white; */
	height: 50%;
}
.spacer > p,
.spacer > div > p {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 50%;
}

.day {
	--side-margin: 1px;
	--side-padding: 4px;
	width: calc(100% / 7 - (var(--side-margin) * 2) - (var(--side-padding) * 2));
	/* border-radius: 10px; */
	margin: var(--side-margin);
	padding: 0px var(--side-padding);
	background-color: var(--gray);
	height: 120px;
}
.emptyDay {
	background-color: transparent;
}
.isToday {
	background-color: var(--main-color);
	outline: 1px solid var(--white);
}
