:root {
	--main-color: hsl(0, 85%, 55%);
	--second-color: hsl(0, 55%, 55%);
	--third-color: palevioletred;
	--accent-color: hsl(57, 69%, 69%);

	--dark-gray: #222;
	--gray: #444;
	--white: #fff;

	--bg-color: var(--dark-gray);
	--debug-color: #f00;
}

* {
	margin: 0;
	padding: 0;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: 30px;
	background-color: var(--bg-color);
	color: var(--white);

	/* debug */
	/* outline: 1px dotted var(--debug-color); */
}
